@font-face{
    src: url(../fonts/SelfDeception.ttf);
    font-family: selfdeception;
}

body{
  background-color: #F2E6D9;
  justify-content: center;
}

.titolo{
  font-size: 5em;
  font-family: selfdeception;
}

.numero_tavolo{
  font-size: 3em;
  font-family: selfdeception;
}

.contenitore{
  grid-gap: 50px;
  margin: 0 auto;
  background-color: white;
  max-width: 80%;
  min-width: 260px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-template-row: repeat(auto-fill, 1fr);
}

.tavolo{
  margin-bottom: 50px;
  margin-left: 0 auto;
  background-color: white;
  max-width: 80%;
  min-width: 260px;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-template-row: repeat(auto-fill, 60px);
  grid-template-areas: "carte"
                        "footer";
}

.carte{
    padding: 30px;
    grid-area: carte;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 30px;
}


.carta{
    width: 100px;
    height: 100px;
    grid-template-columns: 1;
    grid-template-rows: 1;
    display: grid;
    /* border: 2px solid #333333; */
}

.img_carta{
    grid-column: 1;
    grid-row: 1;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.numero_carta{
  font-family: 'Open Sans', sans-serif;
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  font-size: 50px;
  margin-top: 65px;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}

.footer{
  height: 60px;
  grid-area: footer;
  margin: 0 auto;
}

.sommario{
  padding: 25px 0;
  height: auto;
  text-align: center;
}

#aggiungi{
    width:100%;
    font-size: 30px;
    grid-area: aggiungi;
    color: #20CA41;
}

#rimuovi{
    width:100%;
    font-size: 30px;
    grid-area: rimuovi;
    color: #C42424;
}

.bottombar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
